@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

/* Opsional: Jika ingin heading (h1-h6) terasa lebih tegas */
h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Font Poppins */
body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar Link & Hover */
.nav-link {
    color: #333 !important;
    transition: all 0.3s ease;
    border-radius: 8px;
    padding: 8px 12px !important;
}

.nav-link:hover {
    color: #2F9BE8 !important;
    background-color: rgba(47, 155, 232, 0.05); /* Background biru sangat tipis */
    box-shadow: 0 0 10px rgba(47, 155, 232, 0.2); /* Bayangan tipis biru */
}

/* Navbar Icons */
.nav-icon {
    height: 20px !important; /* Ukuran icon navbar sesuai proporsi */
    width: auto;
    margin-right: 5px;
}

/* Buttons */
.btn-daftar {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 30px !important;
    display: inline-block; 
    border-radius: 3px;  
    transition: all 0.3s ease;
    
}

.btn-daftar:hover {
    color: #2F9BE8; 
    background-color: rgba(47, 155, 232, 0.1);
    box-shadow: 0 4px 12px rgba(47, 155, 232, 0.2);
}

.btn-masuk {
    background-color: #2F9BE8;
    color: white !important;
    font-weight: 600;
    padding: 10px 30px !important;
    border-radius: 12px;
    transition: 0.3s;
}

.btn-masuk:hover {
    background-color: #2684c7;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Bayangan hitam tipis */
    color: white !important;
}

/* Hero Section */
.hero-title {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.1;
}

.btn-order {
    background-color: #2F9BE8;
    color: white;
    padding: 15px 35px;
    border-radius: 15px;
    font-weight: 600;
    border: none;
}

.hero-img {
    border-radius: 50px; /* Sesuai gambar yang tumpul sudutnya */
    width: 100%;
}